<div class="module aa">
	<div ng-controller="bloggerSingleCtrl">
	   <div ng-if="error">{{error.message}}</div>
		<koa-card ng-if="post" heading="{{post.title}}">
		<div class="card-content">
			<article ng-bind-html="post.content"></article>
			<div class="published">{{post.published | date:'yyyy-MM-dd HH:mm:ss' }}</div>
			<div class="author">{{post.author.displayName}}</div>
		</div>
		</koa-card>
   </div>
</div>